# Note: Do not use quotes anywhere here because --env-file doesn't parse them

DEVCONTAINER_GIT_USER_NAME=
DEVCONTAINER_GIT_USER_EMAIL=
DEVCONTAINER_GITHUB_USERNAME=
DEVCONTAINER_GITHUB_PASSWORD=
#NODE_EXTRA_CA_CERTS=/usr/local/share/ca-certificates/mitm.crt